.part-selector-container {
  @media (max-width: $breakpoint-m) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    h2 {
      text-align: center;
      margin: 0;
    }
  }
  .part-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;

    @media (max-width: $breakpoint-m) {
      justify-content: center;
      flex-wrap: wrap;
    }

    .part-list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 160px;
      min-width: 125px;
      border: 1px solid $color-inactive;
      color: $color-inactive;
      border-radius: $border-radius;
      margin-right: 32px;
      cursor: pointer;

      @media (max-width: $breakpoint-m) {
        margin-top: 8px;
        margin-left: 4px;
        margin-right: 4px;
      }

      .color {
        width: 64px;
        height: 32px;
        border-radius: $border-radius;
      }
      .price {
        font-size: 12px;
        line-height: 10px;
        letter-spacing: 0.1em;
      }
      .name {
        font-size: 14px;
        line-height: 10px;
        letter-spacing: 0.1em;
      }

      .details-container {
        background-color: $color-accent;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 129px;
        padding-top: 16px;

        .feature-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-left: 16px;

          .feature {
            font-size: 12px;
            line-height: 10px;
          }

          .arrow-up {
            margin-bottom: 8px;
            margin-right: 4px;
            width: 0;
            height: 0;
            border-right: $triangle-side solid transparent;
            border-left: $triangle-side solid transparent;
            border-bottom: calc($triangle-side * 2 * 0.866) solid $color-main;
          }
        }
      }
    }

    .selected {
      border: 1px solid $color-main;
      color: $color-main;
    }
  }
}
