.m-top-xs {
  margin-top: 8px;
}

.m-top-s {
  margin-top: 12px;
}

.m-top-m {
  margin-top: 16px;
}

.m-top-l {
  margin-top: 20px;
}

.m-top-xl {
  margin-top: 46px;
}

.m-bottom-xs {
  margin-bottom: 8px;
}

.m-bottom-s {
  margin-bottom: 12px;
}

.m-bottom-m {
  margin-bottom: 16px;
}

.m-bottom-l {
  margin-bottom: 20px;
}
