// colors
$color-dark: #051544;
$color-accent: #1c3c16;
$color-main: #7bf762;
$color-inactive: #5a8f4f;
// border
$border-radius: 8px;
$triangle-side: 4px;
// breakpoints
$breakpoint-l: 880px;
$breakpoint-m: 630px;
